@media only screen and (max-width: 1200px) {
    .about hr {
        width: 57%;
    }
}

@media only screen and (max-width: 1010px) {
    .about hr {
        width: 49%;
    }

    .img {
        width: 80%;
    }
}

@media only screen and (max-width: 850px) {
    .title h1 {
        font-size: 4.5rem;
    }

    .content h1 {
        font-size: 7rem;
    }

    .content h2 {
        font-size: 1.5rem;
    }

    .content div {
        min-width: 600px;
        min-height: 120px;
    }

    .content div::before {
        width: 600px;
        height: 120px;
        background-size: 1200px;
    }

    .box1 {
        left: 10%;
    }

    .box5 {
        left: 85%;
    }

    .about h2 {
        font-size: 2.5rem;
    }

    .img {
        width: 85%;
    }
}

@media only screen and (max-width: 768px) {
    .title h1 {
        font-size: 4rem;
    }

    .content h1 {
        font-size: 5rem;
    }

    .content div {
        min-width: 440px;
        min-height: 90px;
    }

    .content div::before {
        width: 440px;
        background-size: 880px;
        height: 90px;
    }

    .box5 {
        display: none;
    }

    .box2 {
        left: 35%;
    }

    .box3 {
        left: 55%;
    }

    .box4 {
        left: 75%;
    }

    .about hr {
        width: 41%;
    }

    .about h2 {
        font-size: 2rem;
    }

    .img {
        width: 100%;
        filter: blur(0px) grayscale(0) drop-shadow(10px 10px 15px black);
        z-index: -1;
    }
}

@media only screen and (max-width: 600px) {
    button {
        min-width: 150px;
    }

    nav ul,
    section {
        display: none;
    }

    menu,
    .phoneMenu {
        display: flex;
    }

    .content h1 {
        font-size: 4rem;
    }

    .content div {
        min-width: 370px;
        min-height: 80px;
    }

    .content div::before {
        width: 370px;
        background-size: 740px;
        height: 80px;
    }

    .box4 {
        display: none;
    }

    .box3 {
        left: 70%;
    }

    .box2 {
        left: 40%;
    }

    .about .wrap {
        grid-template-areas: 'heading'
            'para'
            'pic'
            'cta';
    }

    .about h2 {
        font-size: 3rem;
    }

    .heading {
        margin-top: 40px;
    }

    .heading h3 {
        display: none;
    }

    .aboutMe {
        width: 100%;
    }

    .img {
        border-radius: 40px;
        width: 75%;
    }

    .about a {
        margin: 20px auto;
    }
}

@media only screen and (max-width: 425px) {
    .title h1 {
        font-size: 3rem;
    }

    .part {
        width: 95%;
    }

    .content h1 {
        font-size: 3.5rem;
    }

    .content div {
        min-width: 310px;
        min-height: 70px;
    }

    .content div::before {
        width: 310px;
        background-size: 620px;
        height: 70px;
    }

    .content h2 {
        font-size: 1.2rem;
    }

    .box3 {
        left: 65%;
    }

    .box2 {
        display: none;
    }

    .about h2 {
        font-size: 2.5rem;
    }

    .about hr {
        width: 33%;
    }
}

@media only screen and (max-width: 320px) {
    .title h1 {
        font-size: 2.2rem;
    }

    .part {
        width: 95%;
    }

    .about h2 {
        font-size: 2rem;
    }
}