@media only screen and (max-width: 1200px) {
    .about hr {
        width: 57%;
    }
}

@media only screen and (max-width: 1010px) {
    .about hr {
        width: 49%;
    }

    .img {
        width: 100%;
    }

    .projectDetails {
        width: 100%;
    }

    #web-dp {
        display: none;
    }

    #mobile-dp {
        width: 50%;
        display: block;
        text-align: center;
        margin-left: 25%;
    }

        .social-img {
            width: 10%;
        }
}

@media only screen and (max-width: 850px) {
    .title h1 {
        font-size: 4.5rem;
    }

    .content h1 {
        font-size: 7rem;
    }

    .content h2 {
        font-size: 1.5rem;
    }

    .content div {
        min-width: 600px;
        min-height: 120px;
    }

    .content div::before {
        width: 600px;
        height: 120px;
        background-size: 1200px;
    }

    .box1 {
        left: 10%;
    }

    .box5 {
        left: 85%;
    }

    .about h2 {
        font-size: 2.5rem;
    }

    .img {
        width: 100%;
    }

    .skills .wrap {
        padding: 0 5px;
    }

    .skills .wrap>p {
        width: 100%;
    }

    .skills .wrap {
        grid-template-areas: 'text' 'iteams' 'interest';
    }

    .interest {
        width: 90%;
    }

    .iteamCircle {
        height: 70px;
        width: 70px;
    }

    footer {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 768px) {
    .title h1 {
        font-size: 4rem;
    }

    .content h1 {
        font-size: 5rem;
    }

    .content div {
        min-width: 440px;
        min-height: 90px;
    }

    .content div::before {
        width: 440px;
        background-size: 880px;
        height: 90px;
    }

    .box5 {
        display: none;
    }

    .box2 {
        left: 35%;
    }

    .box3 {
        left: 55%;
    }

    .box4 {
        left: 75%;
    }

    .about hr {
        width: 41%;
    }

    .about h2 {
        font-size: 2rem;
    }

    .img {
        width: 100%;
        filter: blur(0px) grayscale(0) drop-shadow(10px 10px 15px black);
        z-index: -1;
    }

    .interest {
        margin: 20px auto;
        width: 75%;
    }

    .skillIteams {
        grid-template-areas: 'iteam4 . iteam5 . iteam3'
            '. iteam1 . iteam2 .';
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        margin-top: 20px;
    }

    .iteam1 {
        grid-area: iteam1;
        justify-self: end;
    }

    .iteam2 {
        grid-area: iteam2;
        justify-self: start;
    }

    .iteam3 {
        grid-area: iteam3;
    }

    .iteam4 {
        grid-area: iteam4;
    }

    .iteam5 {
        grid-area: iteam5;
    }

    .projectDetails {
        flex-direction: column;
        align-items: center;
        width: 90%;
        background-color: #0B1E31;
        border-radius: 20px;
    }

    .projectDetails>img {
        width: 95%;
        margin-top: 10px;
        border-radius: 10px;
    }

    .projectText {
        right: 0%;
        display: grid;
        grid-template-areas: 'heading heading tech tech tech'
            'heading heading link link link'
            'details details details details details';
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .projectText>h2 {
        grid-area: heading;
        text-align: left;
        padding-left: 20px;
        font-size: 2rem;
    }

    .projectText>p {
        grid-area: tech;
        text-align: right;
        margin: 0%;
        padding-right: 20px;
    }

    .platforms {
        grid-area: link;
        text-align: right;
        margin-bottom: 10px;
        padding-right: 20px;
    }

    .details {
        grid-area: details;
        background-color: #00000000;
        box-shadow: 0 0 0;
        margin-bottom: 10px;
        padding: 0px;
    }

    footer {
        font-size: 1.3rem;
    }

    #web-dp {
        display: none;
    }

    #mobile-dp {
        width: 80%;
        display: block;
        text-align: center;
        margin-left: 10%;
    }
}

@media only screen and (max-width: 600px) {
    button {
        min-width: 150px;
    }

    nav ul,
    section {
        display: none;
    }

    menu,
    .phoneMenu {
        display: flex;
    }

    .content h1 {
        font-size: 4rem;
    }

    .content div {
        min-width: 370px;
        min-height: 80px;
    }

    .content div::before {
        width: 370px;
        background-size: 740px;
        height: 80px;
    }

    .box4 {
        display: none;
    }

    .box3 {
        left: 70%;
    }

    .box2 {
        left: 40%;
    }

    .about .wrap {
        grid-template-areas: 'heading'
            'para'
            'pic'
            'cta';
    }

    .about h2 {
        font-size: 2.6rem;
    }

    .heading {
        margin-top: 40px;
    }

    .heading h3 {
        font-size: 1rem;
    }

    .img {
        display: none;
    }

    .about a {
        margin: 20px auto;
    }

    .contact h3 {
        width: 80%;
    }

    .contact .socials {
        width: 30%;
    }

    footer {
        font-size: 1rem;
    }

        .social-img {
            width: 12%;
        }
}

@media only screen and (max-width: 500px) {
    .iteamCircle {
        height: 60px;
        width: 60px;
    }

    .about h2 {
        font-size: 2.2rem;
    }

    footer {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 425px) {
    .title h1 {
        font-size: 3rem;
    }

    .part {
        width: 95%;
    }

    .content h1 {
        font-size: 3.5rem;
    }

    .content div {
        min-width: 310px;
        min-height: 70px;
    }

    .content div::before {
        width: 310px;
        background-size: 620px;
        height: 70px;
    }

    .content h2 {
        font-size: 1.2rem;
    }

    .box3 {
        left: 65%;
    }

    .box2 {
        display: none;
    }

    .about h2 {
        font-size: 2rem;
    }

    .about h3 {
        font-size: 0.8rem;
    }

    .about hr {
        width: 33%;
    }

    .interest h3 {
        font-size: 1.5rem;
    }

    .interest p {
        font-size: 0.8rem;
        line-height: 1.2rem;
    }

    .projectDetails {
        width: 100%;
    }

    .projectText {
        grid-template-areas: 'heading heading tech tech tech'
            'heading heading link link link'
            'details details details details details';
        grid-template-columns: 1fr 1fr 2fr 1.5fr 1.5fr;
    }

    .projectText>h2 {
        font-size: 1.7rem;
        color: white;
    }

    .projectText>p {
        margin-top: 10px;
    }

    .details>p {
        font-size: 0.8rem;
    }

    .contact h3 {
        width: 90%;
    }

    .contact .socials {
        width: 40%;
    }

    footer {
        font-size: 1rem;
    }

    .content h3 {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 360px) {
    .iteamCircle {
        height: 50px;
        width: 50px;
    }

    footer {
        font-size: 1rem;
    }

    .content h3 {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 375px) {
    .iteam p {
        font-size: 0.8rem;
    }

    .projectText>p {
        font-size: 0.8rem;
        font-weight: 800;
    }

    .h-captcha {
        display: none;
    }

    footer {
        font-size: 1rem;
    }

    .content h3 {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 320px) {
    .title h1 {
        font-size: 2.2rem;
    }

    .part {
        width: 95%;
    }

    .about h2 {
        font-size: 2rem;
    }

    .skills .wrap {
        padding: 0 5px;
    }

    .skills .wrap>p {
        font-size: 1.1rem;
    }

    .input-field {
        font-size: 1rem;
    }

    .h-captcha {
        display: none;
    }

    footer {
        font-size: 1rem;
    }

    .content h3 {
        font-size: 1rem;
    }
}